/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  // box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.25rem;
  line-height: 1;
  padding: 0.6rem 1rem 0.4rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);

  &:hover {
    border-color: #ccc #bbb #aaa;
    // box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8),
    //   inset 0 15px 17px rgba(255, 255, 255, 0.8),
    //   inset 0 -5px 12px rgba(0, 0, 0, 0.02);
  }

  &:active,
  &:focus {
    border-color: #aaa #bbb #bbb;
    // box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5),
    //   inset 0 2px 5px rgba(0, 0, 0, 0.15);
  }
}

/* Fields */

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;

  &:focus {
    color: #111;
  }
}

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'] {
  padding: 3px;
}

textarea {
  padding-left: 3px;
  width: 100%;
}

.search-form {
  fieldset {
    border: none;
    padding: 0;
  }
}

input.search-field {
  background: none;
  border: $border__solid-green;
  border-radius: $border__radius;
  font-size: 1.25rem;
  padding-left: 0.5rem;
  color: white;
  &:focus {
    color: white;
  }
}

.search-submit {
  background: none;
  color: $color__brand-green;
  border: none;
  text-shadow: none;
}

#submit-quote-form {
  fieldset {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: none;
    margin: 0;
    padding: 0;
    input,
    textarea {
      border: $border__solid-green;
      border-radius: $border__radius;
      background: none;
      text-shadow: none;
      color: white;
      max-width: 500px;
      &:focus {
        color: white;
      }
    }
    input {
      max-width: 200px;
    }
    .submit-button {
      color: $color__brand-green;
      font-weight: 700;
      margin: $base__space-unit 0;
    }
    label {
      margin: $base__space-unit 0 $base__space-unit/2 0;
    }
    :first-child {
      margin-top: 0;
    }
  }
}

#submit-another-quote-button {
  border: $border__solid-green;
  border-radius: $border__radius;
  padding: 0.7rem;
  &:hover {
    border-color: white;
  }
}
